<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
	
	</appSettings>
	
	
	
	<connectionStrings>
		<add name="soapergandahannali"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=dbsmashitFINAL;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>


	<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
	<customErrors mode="Off" />
  </system.web>

  <system.codedom>
    
  </system.codedom>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <!-- Point default document to your login page under the pages folder -->
        <add value="homepage/Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>

